* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}


.container {
    border: 1px solid black;
    max-width: 700px;
    margin: 20px auto;
   overflow: scroll;


}


.title {
    text-align: center;
    font-size: 25px;
    background: black;
    color: white;
    margin-bottom: 7px;
}
    #avg-mile-per-gellon,#current-gas-price{
        float: right;
        clear: right;
        width: 25%;

    }
.title-item label {
    padding-right: 2px;
    width: 74%;
    text-align: right;
    float: left;
    clear: right;
}


.title-item{
    width: 100%;
    margin: auto;
    padding-right: 7px;
}

tr {

    width: 33.333%;
}

th {
    width: 33.333%;
    padding: 5px;
    background-color: black;
    color: white;
}

td {
    text-align: center;
    width: 33.333%;
   
}

.table table{
    width: 100%;
    
border-top: 1px solid black;
border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.single-table {
    margin-top: 10px;

}

.single-table input[type=number] {
    width: 100%;
    padding: 3px;
}

input[type=number] {
    text-align: center;

}

.table-bottom table {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 1px;
}

.table-bottom input{
    padding: 2px;
    width: 100%;
}

.disable {
    background-color: #f3f3f3;
    border: 1px solid black;
    outline: none;
}

.bg-color {
    background-color: #ffff88;
    border: 1px solid black;
}

.display-none {
    display: none;
}

.light-green {
    background-color: #d9ead3;

}

.dark-green {
    background-color: #57bb8a;

}

 @media only screen and (max-width: 768px){
.label-td {
    font-size: 12px !important;
}
}

@media only screen and (max-width: 1024px) {
.title {
    text-align: center;
    font-size: 25px;
    background: black;
    color: white;
    margin-bottom: 7px;
}
#avg-mile-per-gellon,#current-gas-price{
    float: right;
    clear: right;


}
.title-item label {
    padding-right: 2px;
    width: 74%;
    text-align: right;
    float: left;
    clear: right;
}


.title-item{
    width: 100%;
    margin: auto;
    padding-right: 7px;
}
       
    
} 


